body {
  font: 14px "Century Gothic", Futura, sans-serif;
margin-top:100px;
margin-left:100px;
margin-right:100px;
background: linear-gradient(81deg, rgba(238,236,236,1) 0%, rgba(130,130,130,0.4096989137451855) 100%);
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #000000;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 46px;
  height: 46px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 46px;
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.board{

}